[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
schedule = "*"
Flask = "*"
"Jinja2" = "*"
pylint = "*"
requests-cache = "*"

[dev-packages]

[requires]
python_version = "3.6"
